<div id="customers_page" ng-controller="CustomersController">
    <div class="view_body">
        <div class="row">
            <h2 class="store-name">Welcome to the Mini Store!</h2>
        </div>

        <div class="row">
            <!-- Left: Filter -->
            <div class="small-2 large-expand columns view_left">
                <form>
                    <div class="row filter_section">
                        <div class="medium-12 columns">
                            <h4>Type to Filter</h4>
                            <label>
                                    <input class="right" type="text" name="name" value="" placeholder="search name..." ng-model="filter_name">
                            </label>
                        </div>
                    </div>
                </form>

                <!-- Add new customer -->
                <h4>New customer</h4>

                <form name="customerForm">
                    <label for="prod_name">Customer Name:
                        <span ng-messages="customerForm.customer_name.$error" style="color:maroon" role="alert">
                         <span ng-message="required">is required.</span>
                        </span>
                    </label>

                    <input type="text" name="customer_name" value="" required ng-model="newCustomer">
                    <button type="button" name="button" class="button" ng-click="addCustomer()">Add</button>
                </form>
            </div>

            <!-- Right: Products -->
            <div class="small-10 large-expand columns view_right">
                <table class="stack hover products">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Created Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="customer in customers | filter: filter_name">
                            <td>{{ customer.name}}</td>
                            <td>{{ toDay(customer.createdAt) }}</td>
                            <td><a name="button" ng-click="delete(customer)">Remove</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
