
<div class="container"  ng-controller="CustomersController">
    <h3>Add a new customer</h3>
    <div class="row">
        <p class="errors" ng-repeat="error in errors">
            {{ error.error }}
        </p>
        <form name="customerForm">
            Customer Name: <input type="text" name="name" value="" ng-model="newCustomer">
            <button type="button" name="button" ng-click="addCustomer()">Add</button>
        </form>
    </div>

    <input class="right" type="text" name="name" value="" placeholder="search name..." ng-model="filter_name">

    <table class="u-full-width">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Created Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in customers | filter: filter_name">
                <td>{{ customer.name}}</td>
                <td>{{ toDay(customer.createdAt) }}</td>
                <td><button type="button" class="button-primary" name="button" ng-click="delete(customer)">Remove</button></td>
            </tr>
        </tbody>
    </table>

</div>
