<div ng-controller="ProductsController">
    <div class="view_body">
        <div class="row">
            <h2 class="store-name">Welcome to the Mini Store!</h2>
        </div>

        <div class="row">
            <!-- Left: Filter -->
            <div class="small-2 large-expand columns view_left">
                <form>
                    <div class="row filter_section">
                        <div class="medium-12 columns">
                            <h4>Type to Filter</h4>
                            <label>
                                <input type="text" ng-model="dashboard_filter" placeholder="search..."  ng-model="filter_name">
                            </label>
                        </div>
                    </div>
                </form>

                <h4>Add product</h4>
                <form>
                    <label for="name">Name</label>
                    <input class="u-full-width" type="text" placeholder="name..." ng-model="newProduct.name">

                    <label for="link">Image(url):</label>
                    <input class="u-full-width" type="text" placeholder="http://" ng-model="newProduct.link">

                    <label for="description">Description:</label>
                    <textarea class="u-full-width" ng-model="newProduct.description"></textarea>

                    <label for="amountLeft">Initial Quantity:</label>
                    <select class="u-full-width" ng-model="newProduct.amountLeft">
                        <option ng-repeat="i in getNumber(number) track by $index" value="{{ $index + 1 }}" >{{ $index + 1 }}</option>
                    </select>
                    <button class="button right" type="button" ng-click="addProduct()">Create</button>
                </form>
            </div>

            <!-- Right: Products -->
            <div class="small-10 large-expand columns view_right">
                <div class="products">
                    <div class="img_box product_each" ng-repeat="product in products | filter: dashboard_filter">
                        <img class="prod" ng-src="{{ product.link }}" alt="" />
                        <p>{{product.name}}</p>
                        <p>({{product.amountLeft}} left)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
