body{
    /*background-color: #f5f5f5;*/
    /*background-color: #708090;*/


    color: black !important;
}
#navigation{

}
#navigation a{

}

.align_center{
    text-align: center;
}
#customers_page .view_body{
    height: 100%;
}
.view_body{
    height: auto;
    /*margin: 0px !important;*/
    padding: 1.5em;
    /* IE10+ */
background-image: -ms-radial-gradient(right bottom, ellipse farthest-corner, #FFFFFF 0%, #1583CC 100%);

/* Mozilla Firefox */
background-image: -moz-radial-gradient(right bottom, ellipse farthest-corner, #FFFFFF 0%, #1583CC 100%);

/* Opera */
background-image: -o-radial-gradient(right bottom, ellipse farthest-corner, #FFFFFF 0%, #1583CC 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(radial, right bottom, 0, right bottom, 572, color-stop(0, #FFFFFF), color-stop(100, #1583CC));

/* Webkit (Chrome 11+) */
background-image: -webkit-radial-gradient(right bottom, ellipse farthest-corner, #FFFFFF 0%, #1583CC 100%);

/* W3C Markup */
background-image: radial-gradient(ellipse farthest-corner at right bottom, #FFFFFF 0%, #1583CC 100%);

}
.menu-centered{
    /*background-color: #f0ffff;*/
    /*background-color: #708090;*/
    background-color: black;
}
a.button, button.button {
    background-color: black !important;
    border-radius: .5em;
    box-shadow: 0 0 1em #f1f1f1;
}

.menu .active>a{
    /*background: black !important;*/
    background: white !important;
    color: #708090 !important;
}
.thumbnail > img {
    height: 2.5em;
    width: 2.5em;
}
.img_box{
    margin: 0em 1em;
}

.off_left{
    margin-left: 5%;
}
.img_box p{
    margin: 0px !important;
    text-align: center;
}

.view_right{
    border-left: 1px solid #e6e6e6;
}

.products {
    margin-top: 1em;

}

.view_left{
    margin-top: 1em;
}
.filter_section {
    border-bottom: 2px solid #e6e6e6;
}
.product_each {
        display: inline-block;
}

.store-name{
    border-bottom: 2px solid #e6e6e6;
    margin-bottom: 0;
}
img.prod{
    height: 10em;
    width: 10em;
}

.amazing_background {
    background: #fff;
    color: #555 !important;
    /* font-family: sans-serif; */
    border: 1px solid #ddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFFFFF));
    background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE);
    -webkit-box-shadow: 0px 0 50px #ccc;
    -moz-box-shadow: 0px 0 50px #ccc;
    box-shadow: 0px 0 50px #ccc;
    /*padding: 30px 40px 20px 40px;
    margin: 10px 0 10px 0;*/
    margin: 1em 0;
}

.view_right table tbody, .view_right table tfoot, .view_right table thead, .view_right table tbody tr:nth-child(even) {
    background-color: transparent !important;
}
/*
.div_border{
    border: 1px solid black;
    padding: 5%;
}
.right{
    float: right;
}
.center{
    text-align: center;
}
.main{
    margin-bottom:  2em;
}
.off_left{
    margin-left: 5%;
}
.green{
    background-color: #abdace !important;
    border-color: #abdace !important;
}
.red{
    background-color: #daabab !important;
    border-color: #daabab !important;
}
.errors{
    color: red;
}

img.prod{
    height: 7em;
    width: 7em;
}

img.thumbnail {
    height: 2.5em;
    width: 2.5em;
}
.img_box{

    margin: 0em 1em;
}

.img_box p{
    margin: 0px !important;
    text-align: center;
}

.vert_center{
    vertical-align: top;
}

#description{
	background: #fff;
	color: #555 !important;

	border: 1px solid #ddd;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background: -webkit-gradient(linear, 0% 0%, 0% 40%, from(#EEE), to(#FFFFFF));
	background: -moz-linear-gradient(0% 40% 90deg,#FFF, #EEE);
	-webkit-box-shadow: 0px 0 50px #ccc;
	-moz-box-shadow: 0px 0 50px #ccc;
	box-shadow: 0px 0 50px #ccc;
	padding: 30px 40px 20px 40px;
	margin: 10px 0 10px 0;
}
.no-bold{
	border: none !important;
	padding-top: 0% !important;
}
span.hide_description{
    text-align: right;
    display: block;
    float: right;
    font-size: 16px;
    cursor: pointer;
} */
